/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.add-item {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
