/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.add-item {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.label {
  color: rgba(0, 0, 0, 0.54);
  margin: 8px 8px 8px 0;
  width: 110px;
  text-align: right;
  margin-right: 8px;
}
