.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: teal;
}

.git-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.home {
  letter-spacing: 2px;
  font-size: 18px;
}
