<div class="max-w-sm container">
  <ul role="list" class="flex-col gap-4 divide max-w-sm list">
    <li class="breadcrumb-type flex-row items-center">
      <div>
        <p class="title">Default breadcrumbs</p>
        <p class="subtitle">
          Just drop <b>&lt;xng-breadcrumb/&gt;</b> anywhere
        </p>
      </div>
      <xng-breadcrumb class="default"></xng-breadcrumb>
    </li>

    <li class="breadcrumb-type flex-row items-center">
      <div>
        <p class="title">Title case and custom separator</p>
        <p class="subtitle">
          Use pipe on breadcrumb for title case and custom text on separator
        </p>
      </div>
      <xng-breadcrumb separator="~" class="title-case">
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          {{ breadcrumb | titlecase }}
        </ng-container>
      </xng-breadcrumb>
    </li>

    <li class="breadcrumb-type flex-row items-center">
      <div>
        <p class="title">Material Icon as separator</p>
        <p class="subtitle">
          Custom template for icon, background color on each item
        </p>
      </div>
      <xng-breadcrumb
        [separator]="separatorTemplate"
        class="custom-breadcrumb"
      ></xng-breadcrumb>

      <ng-template #separatorTemplate>
        <mat-icon class="separator-icon">arrow_right</mat-icon>
      </ng-template>
    </li>

    <li class="breadcrumb-type flex-row items-center">
      <div>
        <p class="title">Advanced usage 1</p>
        <p class="subtitle">
          Custom background, preserveQueryParams(false), use info from
          breadcrumb to show icons
        </p>
      </div>
      <xng-breadcrumb
        separator="→"
        class="myapp-breadcrumb"
        [preserveQueryParams]="false"
        class="advanced1"
      >
        <ng-container
          *xngBreadcrumbItem="
            let breadcrumb;
            let info = info;
            let first = first
          "
        >
          <mat-icon *ngIf="info" class="mat-icon-size" inline="true">{{
            info
          }}</mat-icon>
          <ng-container>{{ breadcrumb | titlecase }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
    </li>

    <li class="breadcrumb-type flex-row items-center">
      <div>
        <p class="title">Advanced usage 2</p>
        <p class="subtitle">
          Open breadcrumb link in new tab, different style on tail,
          preserveFragment(false) etc
        </p>
      </div>
      <xng-breadcrumb
        separator="→"
        class="myapp-breadcrumb"
        [preserveFragment]="false"
        anchorTarget="_blank"
        class="advanced2"
      >
        <ng-container
          *xngBreadcrumbItem="
            let breadcrumb;
            let info = info;
            let first = first
          "
        >
          <mat-icon *ngIf="info" class="mat-icon-size" inline="true">{{
            info
          }}</mat-icon>
          <ng-container *ngIf="!first">{{
            breadcrumb | titlecase
          }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
