<section class="add-item">
  <a mat-fab routerLink="add" color="accent" routerLink="add" [queryParams]="{ type: 'add' }">
    <mat-icon matTooltip="Add a Mentor">add</mat-icon>
  </a>
</section>

<section class="flex-col gap-32">
  <mat-card *ngFor="let mentor of mentors" [routerLink]="[mentor.id]" [queryParams]="{ type: 'details' }">
    <mat-card-header>
      <mat-card-title>{{ mentor.name }}</mat-card-title>
      <mat-card-subtitle class="mat-body">{{ mentor.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-set #chipList aria-label="Skill selection">
        <mat-chip-row *ngFor="let skill of mentor.skills">
          {{ skill }}
        </mat-chip-row>
      </mat-chip-set>
    </mat-card-content>
  </mat-card>
</section>
