.app-container {
  padding-top: 56px;
  min-height: calc(100% - 56px);
}

.route-container {
  padding: 16px;
}

@media (max-width: 960px) {
  .app-container {
    padding-top: 112px;
    min-height: calc(100% - 112px);
  }
}

.tweets-container {
  max-height: calc(100vh - 56px);
  overflow: scroll;
  padding-right: 12px;
}
