html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.button-row {
  margin-top: 16px;
  justify-content: flex-end;
  display: flex;
  > *:not(:last-child) {
    margin-right: 16px;
  }
}

.label {
  color: rgba(0, 0, 0, 0.54);
  margin: 8px 8px 8px 0;
  width: 110px;
  text-align: right;
  margin-right: 8px;
}

.person.mat-icon {
  font-size: 36px;
}

.illustration {
  max-width: 280px;
  min-width: 280px;
}

.illustration-wrapper {
  text-align: center;
}
.add-item {
  text-align: right;
  margin: 16px;
}

@media (max-width: 960px) {
  .add-item {
    position: fixed;
    top: 74px;
    z-index: 1000;
    right: 16px;
    margin: 0;
  }
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f1f1;
}

.myapp-breadcrumb .xng-breadcrumb-trail {
  color: teal;
}

.custom-breadcrumb.xng-breadcrumb-root {
  background-color: #fff;
  .xng-breadcrumb-item {
    border-radius: 16px;
    background-color: #f5f5f5;
    padding: 4px 8px;
  }
}
