<section class="max-w-sm">
  <blockquote>
    <p>
      This is a demo app showcasing <b>xng-breadcrumb</b> library usage in Angular applications. Navigate through App to see the breadcrumb mapped to
      a certain URL pattern.
    </p>
  </blockquote>

  <div class="links">
    <mat-card [routerLink]="['/dashboard']"><mat-card-content>Dashboard</mat-card-content></mat-card>
    <mat-card [routerLink]="['/mentor']"><mat-card-content>Mentor</mat-card-content></mat-card>
    <mat-card [routerLink]="['/mentee']"><mat-card-content>Mentee</mat-card-content></mat-card>
    <mat-card [routerLink]="['/connect']"><mat-card-content>Connect</mat-card-content></mat-card>
  </div>
</section>
