<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <ul class="resources">
    <li class="col-span-2">
      <a
        class="resource flex"
        [routerLink]="['/']"
      >
        Home
      </a>
    </li>
    <li class="col-span-2">
      <a
        class="resource flex"
        [routerLink]="['film-list']"
      >
        Films
      </a>
    </li>
    <li class="col-span-2">
      <a
        class="resource flex"
        [routerLink]="['character-list']"
      >
        Characters
      </a>
    </li>
  </ul>
</main>

<h1>Description</h1>

<router-outlet></router-outlet>
