<div
  class="app-container mat-app-background"
  [ngClass]="{ 'xng-dark-theme': darkMode }"
>
  <bd-navbar (themeChanged)="updateTheme($event)"></bd-navbar>
  <section class="route-container" fxLayout="column" fxLayoutGap="16px">
    <div>
      <label for="default">Default breadcrumbs </label>
      <xng-breadcrumb id="default"></xng-breadcrumb>
    </div>

    <div>
      <label for="titleCase">Titlecase and custom seperator </label>
      <xng-breadcrumb separator=">>" id="titleCase">
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          {{ breadcrumb | titlecase }}
        </ng-container>
      </xng-breadcrumb>
    </div>

    <div>
      <label for="materialIcon">Material icon as seperator </label>
      <xng-breadcrumb
        [separator]="separatorTemplate"
        id="materialIcon"
        class="custom-breadcrumb"
      ></xng-breadcrumb>
    </div>

    <div>
      <label for="advancedTemplate1">Advanced template1 </label>
      <xng-breadcrumb
        [separator]="separatorTemplate"
        class="myapp-breadcrumb"
        id="advancedTemplate1"
        [preserveQueryParams]="false"
      >
        <ng-container
          *xngBreadcrumbItem="
            let breadcrumb;
            let info = info;
            let first = first
          "
        >
          <mat-icon *ngIf="info">{{ info }}</mat-icon>
          <ng-container>{{ breadcrumb | titlecase }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
    </div>

    <div>
      <label for="advancedTemplate2">Advanced template2 </label>
      <xng-breadcrumb
        [separator]="separatorTemplate"
        class="myapp-breadcrumb"
        id="advancedTemplate2"
        [preserveFragment]="false"
        anchorTarget="_blank"
      >
        <ng-container
          *xngBreadcrumbItem="
            let breadcrumb;
            let info = info;
            let first = first
          "
        >
          <mat-icon *ngIf="info">{{ info }}</mat-icon>
          <ng-container *ngIf="!first">{{
            breadcrumb | titlecase
          }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
    </div>

    <router-outlet></router-outlet>
  </section>
</div>

<ng-template #separatorTemplate>
  <mat-icon>arrow_right</mat-icon>
</ng-template>
