@use '~@angular/material' as mat;

@include mat.core();

$xng-app-primary: mat.define-palette(mat.$teal-palette);
$xng-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$xng-app-warn: mat.define-palette(mat.$red-palette);
$xng-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $xng-app-primary,
      accent: $xng-app-accent,
      warn: $xng-app-warn,
    ),
  )
);
$xng-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $xng-app-primary,
      accent: $xng-app-accent,
      warn: $xng-app-warn,
    ),
  )
);

@include mat.all-component-themes($xng-light-theme);

.xng-dark-theme {
  @include mat.all-component-themes($xng-dark-theme);
}
