<section class="add-item">
  <a
    mat-fab
    routerLink="add"
    color="accent"
    routerLink="add"
    [queryParams]="{ type: 'add' }"
  >
    <mat-icon matTooltip="Add a Mentor">add</mat-icon>
  </a>
</section>

<section fxLayout="column" fxLayoutGap="12px">
  <mat-card
    *ngFor="let mentor of mentors"
    [routerLink]="[mentor.id]"
    [queryParams]="{ type: 'details' }"
  >
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="person">person</mat-icon>
      </div>
      <mat-card-title>{{ mentor.name }}</mat-card-title>
      <mat-card-subtitle>{{ mentor.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list aria-label="Skillset">
        <mat-chip *ngFor="let skill of mentor.skills">{{ skill }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</section>
